@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script:wght@500&family=Mochiy+Pop+P+One&display=swap');


h1{
    display: flex;
    font-family: 'Akaya Telivigala', cursive;
    justify-content: center;

    
  
}




/* confirm */